# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: check
        uses: EndBug/version-check@v1
        with:
          file-url: https://unpkg.com/explorer-node@latest/package.json
          static-checking: localIsNew
          file-name: package.json
      - uses: actions/checkout@v2
        if: steps.check.outputs.changed == 'true'
      - uses: actions/setup-node@v2
        if: steps.check.outputs.changed == 'true'
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm ci
        if: steps.check.outputs.changed == 'true'
      - run: npm publish
        if: steps.check.outputs.changed == 'true'
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - name: Version unchanged
        if: steps.check.outputs.changed == 'false'
        run: 'echo "No version change: Not publishing to npm"'
